*{
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Lato', sans-serif;  
}

a{
    text-decoration: none;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px;
}

.container {
    width:1140px;
    margin: 0 auto;
    height: 100%;
    
}

.logo {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.68px;
    display: flex;
    align-items: center;
    margin-right: 37px;
}

.logo_d {
    color: #f16d7f;
    font-weight: 400;
}

.header__item {
    display: flex;
    align-items: center;
}

.header__form {
    display: flex;
}

.header__browse {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    padding: 14px 15px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    border-right: none;
}

.logo_img {
    margin-right: 13px;
}

.headerSearch__input {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    padding-left: 16px;
    padding-right: 160px;
}

.headerSearch__btn {
    background: transparent;
    width: 36px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    font-family: fontAwesome;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    border-left: none;
}

.cart__img {
    margin-right: 26px;
}

.button {
    background-color: #f16d7f;
    padding: 12px 19px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
letter-spacing: 0.38px;
}

.menu {
    display: flex;
    list-style-type: none;
    height: 51px;
    justify-content: center;
    align-items: center;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
}

.promo {
    height:613px;
    background-color: #e8e8e8;
}

.promo__h3 {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 15px;
}

.promo__h4 {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 33px;
}

.promo__text {
    border-left:12px solid #f16d7f;
    padding-left: 19px;
}

.promo__h4_pink {
    color: #f16d7f;
}

.promo__content {
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(img/promo-bg.jpg);
    background-position: 0 -52px;
}

.offer__item {
    width: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.offer__item:first-of-type{
    margin-bottom: 20px;
}

.offer__item_big {
    height: 542px;
}
.offer__item_big:first-of-type{
    background-image: url(img/offer-big1.jpg);
}
.offer__item_big:nth-child(2){
    background-image: url(img/offer-big-2.jpg);
}

.offer__item_mini {
    height: 261px;
}
.offer__item_mini:first-of-type{
    background-image: url(img/offer-small-2.jpg);
}
.offer__item_mini:nth-child(2){
    background-image: url(img/offer-small-1.jpg);
}

.offer__lable {
    padding: 16px 20px;
    margin: 0 auto;
    background-color: #ffffff;
    position: absolute;
    top: 26px;
}

.offer__h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.offer__h4 {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.fetured {
    margin-top: 100px;
}

.fetured__title {
    text-align: center;
    margin-bottom: 59px;
}

.fetured__h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.fetured__description {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.fetured__item {
    width: 261px;
    margin-bottom: 60px;
    position: relative;
}
.fetured__item:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.fetured__item:hover .fetured__item__button{
    visibility: visible;
}

.fetured__item:hover .fetured_hover {
    visibility: visible;
}


.offer {
    margin-top: 98px;
}

.fetured__content {
    flex-wrap: wrap;
}

.fetured__img {
    height:279px;
}

.fetured__item__title {
font-size: 13px;
font-weight: 600;
text-transform: uppercase;
margin-left: 14px;
margin-top: 19px;
}

.fetured__item__price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 14px;
    margin-top: 17px;
    margin-bottom: 21px;
}

.fetured__item__button {
    position: absolute;
    left: 70px;
    top: 98px;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
}

.fetured__item__button__text {
color: #ffffff;
font-size: 13px;
font-weight: 700;
}



.fetured_hover {
    position: absolute;
    height: 279px;
    width: 100%;
    background-image: url(img/fetured-hover-bg.png);
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    visibility: hidden;
}

.fetured__button {
    text-align: center;
}

.banner {
    margin-top: 113px;
    display: flex;
    justify-content: center;
}

.banner__item {
    height: 529px;
}

.banner__image {
    width: 767px;
    background-image: url(img/banner-cover.png),url(img/offer-banner.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover,cover;
}

.banner__conditions {
    width: 373px;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner__h3 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.banner__h4 {
color: #ffffff;
text-transform: uppercase;
font-size: 32px;
letter-spacing: 0.9px;
font-weight: 700;
}

.banner__h3_pink {
    
color: #f16d7f;
}

.banner__image__text {
    margin-top: 146px;
    margin-left: 39px;
}

.conditions__item {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.condition__h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-left: 3px;
    margin-bottom: 17px;
}

.condition__p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.condition__item__description {
    padding-right: 43px;
}

.condition__image {
    width:47px;
    padding-left: 36px;
    padding-right: 35px;
}
